table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
 table td,  table th {
    padding: 8px;
}

table th{
    font-size: 18px;
}

table td{
    font-size: 14px
}
    
table tr:hover {background-color: #ddd;}
  
table tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightseagreen;
    color: white;
}

button{
    float: right
}