.Component {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    overflow: hidden;
  }
  
.Content {
    padding-top: 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.Title {
    margin-bottom: 32px;
    color: #555;
}